Package: heartbound-save-editor
Version: 1.0.0.3-1
Section: utils
Priority: optional
Maintainer: Tiago Becerra Paolini <tpaolini@gmail.com>
Architecture: amd64
Depends: libgtk-3-0
Description: Heartbound Save Editor
 Save editing tool for the Heartbound game.
Homepage: https://github.com/tbpaolini/Heartbound-Save-Editor
Vcs-Browser: https://github.com/tbpaolini/Heartbound-Save-Editor
Vcs-Git: <https://github.com/tbpaolini/Heartbound-Save-Editor.git> -b linux
Installed-Size: 423
