#turtlefarm {
    background-color: rgba(145, 83, 63, 0.4);
}

#turtlefarm checkbutton {
    padding: 5px;
}

#green-lettuce {
    background-color: rgba(128, 164, 41, 0.6);
}

#orange-carrot {
    background-color: rgba(221, 126, 36, 0.6);
}

#purple-carrot {
    background-color: rgba(132, 86, 171, 0.6);
}

#purple-lettuce {
    background-color: rgba(107, 76, 133, 0.6);
}

#white-turnip {
    background-color: rgba(255, 232, 190, 0.6);
}

#green-spinach {
    background-color: rgba(92, 125, 31, 0.6);
}

#purple-radish {
    background-color: rgba(107, 76, 133, 0.6);
}

#purple-spinach {
    background-color: rgba(173, 80, 91, 0.6);
}
